 .header-card {
    height: 400px;
    background: linear-gradient(144.41deg, #818BE9 47.54%, #E47FDA 91.07%);
    border-radius: 20px;
 }

.header-image {
    float: left;
    height: auto;
    width: 80%;
    margin-right: 20px;
}

.card-body-content {
    color: #fff;
}

.card-title {
    font-size: 50px;
}

.btn-started {
    color: black;
    background-color: #fff;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.btn-started:hover {
    color: #fff;
    background-color: #000;
}

.card-project {
    float: left;
    text-align: center;
    font-size: 30px;
}

.project-logo {
    margin-left: 650px;
    float: left;
    width: 35%;
}

.card-title-image {
    font-size: 40px;
}

.card-text-body {
    float: left;
}

.card-text-raised {
    padding-top: 15px;
}

.btn-card {
    margin-bottom: 3px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #818BE9;
}

.btn-card:hover {
    color: white;
    background: black;
}

.progress-bar-style {
    width: 400px;
    padding-bottom: 5px;
}