.card-title-image {
    font-size: 40px;
}

.card-text-body {
    float: left;
}

.card-text-raised {
    padding-top: 15px;
}

.btn-card {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #818BE9;
}

.btn-card:hover {
    color: white;
    background: black;
}

.progress-bar-style {
    width: 400px;
    padding-bottom: 5px;
}